# Dependencies

In [10]:
import pandas as pd
import os

In [11]:
# Read all file from folder './Resources/Raw Data'
file_list = os.listdir('./Resources/NYC-data')
file_list

['202006-citibike-tripdata.csv',
 '202010-citibike-tripdata.csv',
 '201902-citibike-tripdata.csv',
 '201908-citibike-tripdata.csv',
 '202004-citibike-tripdata.csv',
 '202012-citibike-tripdata.csv',
 '202002-citibike-tripdata.csv',
 '201906-citibike-tripdata.csv',
 '201910-citibike-tripdata.csv',
 '201904-citibike-tripdata.csv',
 '201912-citibike-tripdata.csv',
 '202008-citibike-tripdata.csv',
 '202011-citibike-tripdata.csv',
 '202007-citibike-tripdata.csv',
 '201903-citibike-tripdata.csv',
 '201901-citibike-tripdata.csv',
 '202005-citibike-tripdata.csv',
 '201909-citibike-tripdata.csv',
 '202003-citibike-tripdata.csv',
 '201911-citibike-tripdata.csv',
 '201907-citibike-tripdata.csv',
 '202009-citibike-tripdata.csv',
 '201905-citibike-tripdata.csv',
 '202001-citibike-tripdata.csv']

In [12]:
# Read all csv files to dataframe and put dataframs into a list
df_list = [pd.read_csv(f"./Resources/NYC-data/{file}") for file in file_list]

In [13]:
# Combine all dfs together
df = pd.concat(df_list)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419.0,Douglass St & 4 Ave,40.679279,-73.981540,3419.0,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389.0,Broadway & Berry St,40.710446,-73.965251,3562.0,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,2
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255.0,8 Ave & W 31 St,40.750585,-73.994685,505.0,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,0
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367.0,E 53 St & Lexington Ave,40.758281,-73.970694,497.0,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,2

In [14]:
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,4.005855e+07,4.005837e+07,4.005855e+07,4.005855e+07,4.005837e+07,4.005855e+07,4.005855e+07,4.005855e+07,4.005855e+07,4.005855e+07
mean,1.140197e+03,1.840044e+03,4.073883e+01,-7.397959e+01,1.832365e+03,4.073849e+01,-7.397979e+01,3.253922e+04,1.980662e+03,1.169102e+00
std,1.248224e+04,1.520377e+03,3.271234e-02,2.151309e-02,1.520739e+03,3.258777e-02,2.159032e-02,8.808989e+03,1.226422e+01,5.710334e-01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.402535e+01,7.200000e+01,4.065540e+01,-7.408364e+01,1.452900e+04,1.857000e+03,0.000000e+00
25%,3.880000e+02,4.010000e+02,4.071749e+01,-7.399456e+01,3.980000e+02,4.071745e+01,-7.399468e+01,2.731300e+04,1.969000e+03,1.000000e+00
50%,6.860000e+02,5.330000e+02,4.073902e+01,-7.398329e+01,5.320000e+02,4.073827e+01,-7.398339e+01,3.343600e+04,1.983000e+03,1.000000e+00
75%,1.235000e+03,3.369000e+03,4.076068e+01,-7.396603e+01,3.370000e+03,4.076030e+01,-7.396649e+01,3.949600e+04,1.991000e+03,2.000000e+00
max,3.812666e+06,4.332000e+03,4.086900e+01,-7.387800e+01,4.332000e+03,4.086900e+01,-7.387800e+01,5.010700e+04,2.004000e+03,2.000000e+00

In [15]:
# Drop na columns
df = df. dropna()

In [16]:
# Drop duplicates
df = df.drop_duplicates()

In [17]:
# Save df to csv file
df.to_csv('./Resources/nyc_citybike_data_2019.csv')

In [18]:
len(df)

40058374

In [25]:
df1 = df["bikeid"].value_counts()

In [27]:
type(df1)

pandas.core.series.Series

In [42]:
df2 = pd.DataFrame(df1)
df2

       bikeid
34969    4717
35109    4690
35316    4677
35136    4646
33915    4641
...       ...
44725       1
44733       1
45441       1
44734       1
50107       1

[27704 rows x 1 columns]

In [54]:
df3 = df2[df2["bikeid"] < 1000]

In [55]:
df3.index

Int64Index([45258, 17314, 44940, 19376, 44632, 15777, 45083, 44317, 31640,
            19854,
            ...
            37999, 37998, 37990, 45531, 38002, 44725, 44733, 45441, 44734,
            50107],
           dtype='int64', length=9311)

In [51]:
!pip install downcast

Collecting downcast
  Downloading downcast-0.0.8-py3-none-any.whl (3.3 kB)
Installing collected packages: downcast
Successfully installed downcast-0.0.8

In [52]:
from downcast import reduce

df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419.0,Douglass St & 4 Ave,40.679279,-73.981540,3419.0,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389.0,Broadway & Berry St,40.710446,-73.965251,3562.0,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,2
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255.0,8 Ave & W 31 St,40.750585,-73.994685,505.0,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,0
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367.0,E 53 St & Lexington Ave,40.758281,-73.970694,497.0,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240591,1587,2020-01-31 23:59:26.8820,2020-02-01 00:25:54.4890,3244.0,University Pl & E 8 St,40.731437,-73.994903,3092.0,Berry St & N 8 St,40.719009,-73.958525,40662,Subscriber,1990,1
1240592,222,2020-01-31 23:59:32.6410,2020-02-01 00:03:15.4720,383.0,Greenwich Ave & Charles St,40.735238,-74.000271,383.0,Greenwich Ave & Charles St,40.735238,-74.000271,28722,Subscriber,1983,1
1240593,163,2020-01-31 23:59:39.1780,2020-02-01 00:02:23.0400,150.0,E 2 St & Avenue C,40.720874,-73.980858,411.0,E 6 St & Avenue D,40.722281,-73.976687,32530,Subscriber,1958,2
1240594,327,2020-01-31 23:59:49.2310,2020-02-01 00:05:16.3790,483.0,E 12 St & 3 Ave,40.732233,-73.988900,3718.0,E 11 St & Avenue B,40.727464,-73.979504,15314,Customer,1994,1
1240595,484,2020-01-31 23:59:57.0360,2020-02-01 00:08:01.1820,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,534.0,Water - Whitehall Plaza,40.702551,-74.012723,30947,Subscriber,1987,1

In [53]:
reduce(df)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3420.0,Douglass St & 4 Ave,40.68750,-74.0000,3420.0,Douglass St & 4 Ave,40.68750,-74.0000,39852,Customer,1997,2
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366.0,Clinton Ave & Myrtle Ave,40.68750,-74.0000,336.0,Sullivan St & Washington Sq,40.71875,-74.0000,37558,Subscriber,1969,0
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389.0,Broadway & Berry St,40.71875,-73.9375,3562.0,Classon Ave & St Marks Ave,40.68750,-73.9375,37512,Customer,1988,2
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3256.0,8 Ave & W 31 St,40.75000,-74.0000,505.0,6 Ave & W 33 St,40.75000,-74.0000,39674,Customer,1969,0
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367.0,E 53 St & Lexington Ave,40.75000,-74.0000,497.0,E 17 St & Broadway,40.75000,-74.0000,21093,Customer,1997,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240591,1587,2020-01-31 23:59:26.8820,2020-02-01 00:25:54.4890,3244.0,University Pl & E 8 St,40.71875,-74.0000,3092.0,Berry St & N 8 St,40.71875,-73.9375,40662,Subscriber,1990,1
1240592,222,2020-01-31 23:59:32.6410,2020-02-01 00:03:15.4720,383.0,Greenwich Ave & Charles St,40.75000,-74.0000,383.0,Greenwich Ave & Charles St,40.75000,-74.0000,28722,Subscriber,1983,1
1240593,163,2020-01-31 23:59:39.1780,2020-02-01 00:02:23.0400,150.0,E 2 St & Avenue C,40.71875,-74.0000,411.0,E 6 St & Avenue D,40.71875,-74.0000,32530,Subscriber,1958,2
1240594,327,2020-01-31 23:59:49.2310,2020-02-01 00:05:16.3790,483.0,E 12 St & 3 Ave,40.71875,-74.0000,3718.0,E 11 St & Avenue B,40.71875,-74.0000,15314,Customer,1994,1
1240595,484,2020-01-31 23:59:57.0360,2020-02-01 00:08:01.1820,327.0,Vesey Pl & River Terrace,40.71875,-74.0000,534.0,Water - Whitehall Plaza,40.68750,-74.0000,30947,Subscriber,1987,1